wp-content/plugins/audioblocks/build
wp-content/plugins/audioblocks/node_modules

wp-content/plugins/akismet
wp-content/plugins/hello.php
wp-content/plugins/index.php

wp-content/themes
wp-content/uploads
wp-content/languages

wp-content/debug.log
